<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">

    <title>Document</title>
</head>
<body>
    <div class="image-head">
        <div class="image"><img src="{{url_for('static',filename='heart.jpeg')}}" alt="heart"></div>
        <div class="heading-box"> 
            <h1 class="heading">Heart Disease</h1>
            <p class="sub-heading">Prediction</p>
             <form action="/predi">
                <button type="submit">Predict</button>
            </form>
        </div>
    </div>
   
    
</body>
</html>